importing relevant libraries

In [ ]:
import numpy as np
import pandas as pd 
import re

importing the scrapped data

In [ ]:
df = pd.read_csv('df2.csv', lineterminator='\n',engine= 'c')
df

                                                location  ...               date
0      Nairaland Forum / Nairaland / General / Politi...  ...             6:32am
1      Nairaland Forum / Entertainment / Sports  / Aj...  ...   8:15am On Dec 29
2      Nairaland Forum / Nairaland / General / Educat...  ...  10:01pm On Dec 28
3      Nairaland Forum / Nairaland / General / Busine...  ...   8:10pm On Dec 28
4      Nairaland Forum / Nairaland / General / Travel...  ...  10:07am On Dec 28
...                                                  ...  ...                ...
24262  Nairaland Forum / Nairaland / General / Travel...  ...   4:45am On Jan 04
24263  Nairaland Forum / Entertainment / Celebrities ...  ...   5:31am On Jan 04
24264  Nairaland Forum / Nairaland / General / Politi...  ...   1:41am On Jan 04
24265  Nairaland Forum / Nairaland / General / Politi...  ...   9:18pm On Jan 03
24266  Nairaland Forum / Nairaland / General / Busine...  ...  10:13pm On Jan 03

[24267 rows x 3 columns]

Checking rows with missing values
<p>From the code in the data mining, in the scraping function, I expected attribute error and returned any missing value with 9999.</p> <p> So I want to check the row with 9999 instead of the normal information required.

In [ ]:
rows =df[(df['location']=='9999') | (df['author']=='9999') | (df['date']=='9999')].index
rows

Int64Index([ 1562,  1734,  4897,  5224,  5226,  5300,  5527,  5535,  6539,
             6544,  7457,  9657, 10122, 10614, 11073, 11332, 11409, 11442,
            14090, 14755, 14821, 15022, 15320, 17629, 18189, 18495, 18810,
            19722, 21048, 21470, 22133, 22187, 22548, 23999],
           dtype='int64')

dropping the rows with missing values

In [ ]:
 df_clean = df.drop(rows, axis =0)

In [ ]:
 df_clean= df_clean.dropna(axis =0).reset_index(drop = True)
 
df_clean.isnull().sum()

location    0
author      0
date        0
dtype: int64

In [ ]:
df_clean

                                                location  ...               date
0      Nairaland Forum / Nairaland / General / Politi...  ...             6:32am
1      Nairaland Forum / Entertainment / Sports  / Aj...  ...   8:15am On Dec 29
2      Nairaland Forum / Nairaland / General / Educat...  ...  10:01pm On Dec 28
3      Nairaland Forum / Nairaland / General / Busine...  ...   8:10pm On Dec 28
4      Nairaland Forum / Nairaland / General / Travel...  ...  10:07am On Dec 28
...                                                  ...  ...                ...
24228  Nairaland Forum / Nairaland / General / Travel...  ...   4:45am On Jan 04
24229  Nairaland Forum / Entertainment / Celebrities ...  ...   5:31am On Jan 04
24230  Nairaland Forum / Nairaland / General / Politi...  ...   1:41am On Jan 04
24231  Nairaland Forum / Nairaland / General / Politi...  ...   9:18pm On Jan 03
24232  Nairaland Forum / Nairaland / General / Busine...  ...  10:13pm On Jan 03

[24233 rows x 3 columns]

Getting the topics

In [ ]:
def Spliting_for_topic(location):
    split_s= location.split('/')
    try:
        reg = '[a-zA-Z\,\.0-9\s\"\-\'\:\;]+\s*\(+[0-9]+\s[A-Za-z]+\)+'
        loc_lists =[(re.findall(reg,x))  for x in split_s]
         topic_list =[x[0] for x in yy if len(x) != 0]
        topic = ''.join(v)
    except:
        topic = '9999'
 
    return topic

In [ ]:
df_clean['Topic'] = df_clean['location'].apply(Spliting_for_topic)
df_clean['Topic']

0         Governor Wike Links Opobo Kingdom By Road, Af...
1         Ajara Njoya Nchout Joins Atletico Madrid. (13...
2         COVID-19 Lockdown: 500 Secondary School Stude...
3         How I Got Badly Disgraced By Sokoloan (32733 ...
4                                            (10487 Views)
                               ...
24228     Gibram Cruz Mother's Deportation To Mexico By...
24229     Hushpuppi And His Son Go For Shopping In Duba...
24230     Nnamdi Kanu Reacts To Nigerian Muslims Chanti...
24231                                       (116932 Views)
24232     Fire Destroys Umuahia Industrial Market (1325...
Name: Topic, Length: 24233, dtype: object

Getting the threads

In [ ]:
 def subcat1(x):
    thread = x.split('/')
    try:
        if thread[1]== ' Nairaland ' or thread[1]==' Science':
            if len(thread[2])<18:
                return thread[2]
            else:
                return None
        
        else:
            return thread[1]
            
    except:
        return '9999'
 
        
def subcat2(x):
    thread = x.split('/')
    try:
        if thread[1]== ' Nairaland ' or thread[1]==' Science':
            if len(thread[3])<20:
                return thread[3]
            else:
                return None
        
        else:
            if len(thread[2])<20:
                return thread[2]
            else:
                return None
    except:
        return '9999'

In [ ]:
df_clean['Subcat1'] = df_clean['location'].apply(subcat1)
df_clean['Subcat2'] = df_clean['location'].apply(subcat2)

In [ ]:
df_clean['Subcat1'] = df_clean['location'].apply(subcat1)
df_clean['Subcat2'] = df_clean['location'].apply(subcat2)

In [ ]:
df_clean

                                                location  ...         Subcat2
0      Nairaland Forum / Nairaland / General / Politi...  ...      Politics
1      Nairaland Forum / Entertainment / Sports  / Aj...  ...        Sports
2      Nairaland Forum / Nairaland / General / Educat...  ...     Education
3      Nairaland Forum / Nairaland / General / Busine...  ...      Business
4      Nairaland Forum / Nairaland / General / Travel...  ...        Travel
...                                                  ...  ...             ...
24228  Nairaland Forum / Nairaland / General / Travel...  ...        Travel
24229  Nairaland Forum / Entertainment / Celebrities ...  ...   Celebrities
24230  Nairaland Forum / Nairaland / General / Politi...  ...      Politics
24231  Nairaland Forum / Nairaland / General / Politi...  ...       Politics
24232  Nairaland Forum / Nairaland / General / Busine...  ...      Business

[24233 rows x 5 columns]

In [ ]:
 df_clean1= df_clean.drop('location', axis=1)

In [ ]:
 df_clean1.to_csv('df34.csv')